
@{
    ViewBag.Title = "Index";
}

@model IEnumerable<CourseProject.Models.Предметы> 

<div class="container">
    <div class="row">
        @foreach (var subject in Model)
        {
            <div class="col-md-3 col-sm-4 col-xs-6">
                <p><img class="img-thumbnail glyphicon-align-center" src="~/icons/not-found.png"/></p>
                <p>@Html.ActionLink(@subject.Название, "Index", "Subjects", new { Id = subject.ID_предмета }, null)</p>
            </div>
        }
    </div>
</div>


